<!doctype html>
<html>
    <head>
        <title>First app</title>
        <link rel="stylesheet"
            href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div>Hi, this is my first Flask web app!</div>
        {% from "_formhelpers.html" import render_field %}
        <div>What's your name?</div>
        <form method=post action="/hello">
            <dl>
                {{ render_field(form.sayhello) }}
            </dl>
            <input type=submit value='SAy hello' name='submit_btn'>
        </form>
        <a href="http://flask.pocoo.org/docs/0.12/">Flask Tutorial</a>
    </body>
</html>